In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
data_dir = '/Volumes/Seagate-Backup/financial-data/AS500-all-data/'
file1 = '20201125.csv'
file2 = '20201124.csv'

In [21]:
df1 = pd.read_csv(os.path.join(data_dir, file1))
df2 = pd.read_csv(os.path.join(data_dir, file2))

In [23]:
df1.count(), df2.count()

(Date               185333
 Timestamp          185333
 Ticker             185333
 OpenPrice          185333
 HighPrice          185333
 LowPrice           185333
 ClosePrice         185333
 TotalVolume        185333
 TotalQuantity      185333
 TotalTradeCount    185333
 dtype: int64,
 Date               193666
 Timestamp          193666
 Ticker             193666
 OpenPrice          193666
 HighPrice          193666
 LowPrice           193666
 ClosePrice         193666
 TotalVolume        193666
 TotalQuantity      193666
 TotalTradeCount    193666
 dtype: int64)

In [7]:
df.head()

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
0,20201125,09:31:00,CAH,54.13,54.13,53.86,53.97,366973.46,6790,40
1,20201125,09:32:00,CAH,53.97,53.97,53.97,53.97,5396.50,100,1
2,20201125,09:33:00,CAH,53.97,53.97,53.66,53.74,269215.57,5005,43
3,20201125,09:34:00,CAH,53.72,53.74,53.42,53.42,441153.07,8237,58
4,20201125,09:35:00,CAH,53.43,53.77,53.43,53.74,285459.60,5329,43

In [25]:
len(list(df1.Ticker.value_counts().index)), len(list(df2.Ticker.value_counts().index))

(486, 486)

In [27]:
file3 = '20190715.csv'
df3 = pd.read_csv(os.path.join(data_dir, file3))
df3.count(), len(list(df3.Ticker.value_counts().index))

(Date               186733
 Timestamp          186733
 Ticker             186733
 OpenPrice          186733
 HighPrice          186733
 LowPrice           186733
 ClosePrice         186733
 TotalVolume        186733
 TotalQuantity      186733
 TotalTradeCount    186733
 dtype: int64,
 500)

In [28]:
file4 = '20191008.csv'
df4 = pd.read_csv(os.path.join(data_dir, file4))
df4.count(), len(list(df4.Ticker.value_counts().index))

(Date               189655
 Timestamp          189655
 Ticker             189655
 OpenPrice          189655
 HighPrice          189655
 LowPrice           189655
 ClosePrice         189655
 TotalVolume        189655
 TotalQuantity      189655
 TotalTradeCount    189655
 dtype: int64,
 499)

In [30]:
df1.tail()

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
185328,20201125,15:56:00,CSCO,42.51,42.53,42.47,42.53,8128056.36,191218,633
185329,20201125,15:57:00,CSCO,42.53,42.54,42.51,42.51,5108879.69,120145,507
185330,20201125,15:58:00,CSCO,42.51,42.51,42.50,42.50,4048032.48,95238,433
185331,20201125,15:59:00,CSCO,42.51,42.52,42.50,42.51,5624993.13,132323,584
185332,20201125,16:00:00,CSCO,42.51,42.53,42.50,42.52,14091704.89,331497,1076

In [31]:
companies = list(df1.Ticker.value_counts().index)

In [36]:
df1[df1['Ticker'] == 'AAPL'][:10]

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
38289,20201125,09:31:00,AAPL,115.55,115.85,115.50,115.71,55882181.95,482972,1973
38290,20201125,09:32:00,AAPL,115.72,115.75,115.32,115.35,59145420.29,512045,2010
38291,20201125,09:33:00,AAPL,115.35,115.45,115.17,115.43,52058312.51,451494,1821
38292,20201125,09:34:00,AAPL,115.42,115.73,115.42,115.55,56318234.78,487406,2049
38293,20201125,09:35:00,AAPL,115.55,115.78,115.35,115.74,54270169.03,469716,2184
38294,20201125,09:36:00,AAPL,115.74,115.99,115.70,115.93,54646782.74,471606,1879
38295,20201125,09:37:00,AAPL,115.94,116.27,115.92,116.26,79010367.18,680689,2832
38296,20201125,09:38:00,AAPL,116.26,116.44,116.25,116.38,65288749.14,561057,2362
38297,20201125,09:39:00,AAPL,116.38,116.50,116.30,116.33,60350209.56,518392,2302
38298,20201125,09:40:00,AAPL,116.33,116.51,116.21,116.23,59309255.71,509636,2186