In [1]:
import os
import pandas as pd

from tqdm import tqdm

In [ ]:
def write_dataframe(df, tickers: list, output_dir: str):
    for ticker in tickers:
        
        
        
        company = df[df['Ticker'] == ticker]
        
        output_file = ticker + '.csv'
        
        # encoutered stock : NWS/A 
        if '/' in output_file:
            output_file = output_file.replace('/', '_')
            
        if output_file in os.listdir(output_dir):
            company.to_csv(os.path.join(output_dir, output_file), mode = 'a', header = False)
        else:
            company.to_csv(os.path.join(output_dir, output_file))
        
        company = None
    df = None

def create_output_dir(data_dir: str, output_folder: str, year: str):
    folders = ['08', '09-10', '11-12', '13-14', '15-16', '17-18', '19-20']
    
    ret = data_dir.split('/')[:-1]
    ret.append(output_folder)
    year = [year_ranges for year_ranges in folders if year in year_ranges][0]
    ret.append(year)
    ret = '/'.join(ret)
    print(ret)
    return ret

def create_company_files(data_dir: str, output_folder: str): # output_folder is AS500-by-stock

    
    for file in tqdm(os.listdir(data_dir)):
        
        # file info
        year = file.split('.')[0][2:4]
        output_dir = create_output_dir(data_dir, output_folder, year) # still needs filename(company)
        
        # load dataframe from original location
        df = pd.read_csv(os.path.join(data_dir, file))
        tickers = list(df.Ticker.unique())
        
        write_dataframe(df, tickers, output_dir)
        
        df = None # ensure we don't run out of memory
        
        
data_dir = '/Volumes/Seagate-Backup/financial-data/AS500-all-data'
output_folder = 'AS500-by-stock'
create_company_files(data_dir, output_folder)

  0%|          | 0/3248 [00:00<?, ?it/s]

/Volumes/Seagate-Backup/financial-data/AS500-by-stock/08

  0%|          | 1/3248 [00:06<5:33:01,  6.15s/it]

/Volumes/Seagate-Backup/financial-data/AS500-by-stock/08

  0%|          | 2/3248 [00:12<5:33:57,  6.17s/it]

/Volumes/Seagate-Backup/financial-data/AS500-by-stock/08

  0%|          | 3/3248 [00:19<5:43:03,  6.34s/it]

/Volumes/Seagate-Backup/financial-data/AS500-by-stock/08

  0%|          | 4/3248 [00:25<5:48:17,  6.44s/it]

/Volumes/Seagate-Backup/financial-data/AS500-by-stock/08

  0%|          | 5/3248 [00:32<5:54:42,  6.56s/it]

/Volumes/Seagate-Backup/financial-data/AS500-by-stock/08

In [3]:
data_dir = '/Volumes/Seagate-Backup/financial-data/AS500-all-data'

In [4]:
# test with just 2 files
file1 = '20201124.csv'
file2 = '20201125.csv'

In [14]:
df1 = pd.read_csv(os.path.join(data_dir, file1))
df2 = pd.read_csv(os.path.join(data_dir, file2))
df1.head()

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
0,20201124,09:31:00,TXT,47.25,47.64,47.06,47.63,108941.13,2297,16
1,20201124,09:32:00,TXT,47.56,47.56,47.35,47.35,10484.85,221,2
2,20201124,09:34:00,TXT,47.28,47.37,47.18,47.18,93669.97,1980,12
3,20201124,09:35:00,TXT,47.36,47.36,47.13,47.13,42483.00,900,8
4,20201124,09:36:00,TXT,47.19,47.26,47.05,47.24,148775.50,3152,19

In [16]:
ticker1 = list(df1.Ticker.unique())
ticker2 = list(df2.Ticker.unique())

In [23]:
output_dir = '/Volumes/Seagate-Backup/financial-data/AS500-by-stock'

In [24]:
files = [file1, file2]

In [27]:
count = 0
for file in files:
    df = pd.read_csv(os.path.join(data_dir, file))
    tickers = list(df.Ticker.unique())
    for ticker in tickers:
        df1 = df[df['Ticker'] == ticker]
        
        output_file = ticker + '.csv'
#         output = os.path.join(output_dir, ticker+'.csv')
        if output_file in os.listdir(output_dir):
#             df2 = pd.read_csv(os.path.join(output_dir, output_file))
            df1.to_csv(output_file, mode = 'a', header = False) # key--appending to file not loading in memory
#             union_df = pd.concat
        else:
            df1.to_csv(output_file)
            
        count +=1
        if count == 3:
            break
    break

In [25]:
count = 0
for filename in os.listdir(data_dir):
    count+=1