In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!pip install yfinance

In [7]:
import pandas as pd

payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = payload[0]
second_table = payload[1]
df = first_table

In [8]:
df.head()

  Symbol             Security  ...      CIK      Founded
0    MMM           3M Company  ...    66740         1902
1    ABT  Abbott Laboratories  ...     1800         1888
2   ABBV          AbbVie Inc.  ...  1551152  2013 (1888)
3   ABMD          ABIOMED Inc  ...   815094         1981
4    ACN        Accenture plc  ...  1467373         1989

[5 rows x 9 columns]

In [9]:
symbols = df['Symbol'].values.tolist()
print(len(symbols))

505

In [82]:
ds = '/content/drive/MyDrive/home_repo_big_data/data/500_comp_data_2020/'

import yfinance as yf

for symbol in symbols:
    df = yf.Ticker(symbol)
    hist = df.history(period="YTD")
    hist.to_csv(symbol + '.csv')
    df = pd.read_csv(symbol + '.csv', usecols=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])
    df['Date'] = pd.to_datetime(df['Date'])
    df.to_csv(ds + symbol + '.csv', index=False, header=True)

- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [152]:
ds = '/content/drive/MyDrive/home_repo_big_data/data/500_comp_data_2019/'

import os

directory_in_str= '/content/drive/MyDrive/home_repo_big_data/data/500_comp_data_5y'
directory = os.fsencode(directory_in_str)

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"): 

        df = pd.read_csv(directory_in_str + '/' + filename, parse_dates= ['Date'])

        df_new = df[df['Date'].dt.year == 2019]

        df_new.to_csv(ds + filename.split('.')[0] + '.csv', index=False, header=True)
        continue
    else:
        continue